.cart-wrapper {
  padding: 2rem;
  background: #f9f9f9;
  margin: 40px 0;
}

.cart-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.cart-empty-message {
  text-align: left;
  font-weight: bold;
  color: #333;
}

.go-to-home-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.go-to-home-btn:hover {
  background-color: #0c4b5f;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.cart-table th, .cart-table td {
  padding: 1rem;
  text-align: left;
}

.cart-table th {
  background: #12617d;
  color: #fff;
  font-weight: bold;
}

.cart-table tr:nth-child(even) {
  background: #f2f2f2;
}

.cart-image {
  display: flex;
  align-items: center;
}

.cart-image img {
  border-radius: 5px;
}

.cart-wrapper .food-item-counter {
  display: flex;
  align-items: center;
}

.cart-wrapper .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff6347;
  color: #fff;
  cursor: pointer;
  margin: 0 5px;
  transition: all linear .3s;
}

.cart-wrapper .icon-container:first-child {
  background: #d9534f; /* Danger background */
  color: #fff; /* White text */
}

.cart-wrapper .icon-container:last-child {
  background: #5cb85c; /* Success background */
  color: #fff; /* White text */
}

.remove-icon {
  cursor: pointer;
  color: #d9534f; /* Danger color */
  font-size: 1.2rem;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.total-amount,
.promotion {
  flex-basis: 45%;
}

.promotion {
  margin-left: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.promotion p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
  font-weight: normal;
}

.promotion input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.promotion button {
  padding: 10px 20px;
  background-color: #12617d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  position: absolute;
  top: 3px;
  right: 3px;
  height: calc(100% - 6px);
  width: max-content;
}

.promotion button:hover {
  background-color: #0c4b5f;
}
.promotion .promotion-form{
  position: relative;
}

.total-amount {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.total-amount h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
  font-weight: bold;
}

.total-amount p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.total-amount p.total-price-text {
  margin-top: 15px;
  margin-bottom: 0;
}
.total-amount p .price-highlight{
  color: #ff6347;
  font-size: 20px;
}

.proceed-to-pay-btn {
  display: block;
  width: 100%;
  padding: 15px 30px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;

}

.proceed-to-pay-btn:hover {
  background-color: #0c4b5f;
}
