.explore-menu {
  text-align: left;
  padding: 40px 0;
}

.explore-menu h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333; 
}

.explore-menu-text {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #666; 
}

.explore-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.explore-menu-item {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.explore-menu-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  border:5px solid transparent;
  transition: all linear .3s;
}

.explore-menu-item-content {
  padding: 15px;
  text-align: center;
}

.explore-menu-item h3 {
  font-size: 1.4em;
  margin: 10px 0;
  font-weight: bold;
  color: #333; 
  transition: all linear .3s;
}

.explore-menu-item:hover {
  transform: translateY(-5px);
}

.explore-menu-item img.active{
  background-color: #ff6347;
}
.explore-menu-item h3.active{
  color: #ff6347;
}

@media (max-width: 768px) {
  .explore-menu h2{
    font-size: 1.5em;
  } 
  .explore-menu-text{
    font-size: 1em;
  }
  .explore-menu-item img{
    width: 120px;
    height: 120px;
  }
}