.app-download {
  color: #333; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  position: relative;
  overflow: hidden;
}

.app-download-content {
  max-width: 800px;
  margin: auto;
  background-color: #12617d;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.app-download-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.app-download-description {
  font-size: 16px;
  margin-bottom: 30px;
  color: #e0e0e0;
}

.app-download-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.app-download-link {
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.app-download-link:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.app-download-image {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.app-download-content .svg-cloud {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
